.img-container img{
    height: 423px;
    width: 90%;
    margin-left: 5%;
    object-fit: cover;
}
.description{
    background-color: antiquewhite;
    font-weight: 100;
    font-size: 1.1rem;
}
h2,h3{
    color: #ff5653;
}