*{
    margin: 0px;
    padding: 0px;
}
/* body{
    background-color: rgb(51, 48, 48);;
} */
body form p{
    color: white;
    font-size: 2vw;
    margin-left: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}
.form-items{
    background-color: rgba(33, 41, 47, 0.861);
    padding: 80px;
    border-radius: 10px;
    filter: drop-shadow(0 25px 25px rgba(1, 1, 1, 0.717));
}


.search-input{
    height: 40px;
    width: 500px;
    border-radius: 7px;
    text-align: center;
    font-size: large;
}
body{
    background-color: aliceblue;
}
#submit-button{
    height: 40px;
    width: 150px;
    background-color: rgb(12, 199, 12);
    margin-top: 20px;
    margin-left: 190px;
    font-size: larger;
    color: aliceblue;
    border-radius: 7px;
}
.msg-content{
    height: 40px;
    width: 150px;
    background-color: bisque;
}
